/* Filters Section */
section.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #DDDDDD;
  padding: 10px;
}

.filters .locations,
.filters .amenities {
  width: 25%;
  height: 100%;
}

.filters .locations {
  border-right: 1px solid #DDDDDD;
}

.filters h3 {
  font-weight: 600;
  margin: 0;
}

.filters h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  color: #333333;
}

/* Search Button */
.filters button {
  background-color: #FF5A5F;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.filters button:hover {
  background-color: #E14C50;
}
